<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="table container ml-5 mt-5">
    <div class="card" style="width: 18rem;">
          <img class="" src="https://static9.tgstat.ru/channels/_0/2c/2cb03b5ab7b831d0ca6c9417ecab923e.jpg" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><h4>LAMBORIGINI</h4></p>
            <a style="color: red" href="{% url 'car:list'%}" class="btn btn-primary">
                <input type="submit" value="Orqaga" ></a>
            </div>
    </div>
</div>

</body>
</html>